.container {
	display: flex;
 	min-height: 100vh;
 	flex-direction: column;

}

.header {
	display: flex;
	flex-direction: row;
	width: 100vw;
	padding: 15px;
	background-color: #d3d3d3;
	color: cornflowerblue;
}

.header-info {
	width: 66%;
}

.header-nav {
	width: 33%;
	display: flex;
	align-content: flex-end;
}

.nav-item {
	width: 50%;
}

.main {
	display: flex;
}

.main-gallery-img {

	width: calc(25% - 12px);
	margin: 3px;
	border-radius: 5px;
}

.main-gutter {
	width: 4em;
}


@media (max-width: 1000px) {
  .container {
    flex: 1;
  }
  .main-gallery-img {
  	width: calc(33% - 12px);
  }
  
}

@media (max-width: 800px) {

  .main-gallery-img {
  	width: calc(50% - 12px);
  }
  
}

@media (max-width: 600px) {

	.main-gallery-img {
		width: calc(100% - 12px);
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0.6;
	}
	.header-nav {
		flex-direction: column;
	}
  
}